body
{
	background: #f2f2f2;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
hr
{
	border: solid #3A3838;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.25rem 0 1.1875rem;
	height: 0;
}
header
{
	background: #fff;
	height: 100px;
	margin: 0px auto 0px auto;
	text-align: center;
	width: 100%;
}
header #top-lado1, #top-lado2
{
	display: inline-block;
	vertical-align: top;
	width: 48%;
}
header #top-lado2
{
	text-align: right;
	padding: 37px 15px 0px 0px;
}
header #top-lado2 a
{
	color: #909090;
	padding: 10px 106px 0px 10px;
	text-align: right;
	text-decoration: none;

}
header #top-lado1
{
	/*text-align: left;*/
}
header #top-lado1 img
{
	width: 218px;
	padding: 11px 5px 5px 40px;
}
nav
{
	background: #D71E1E;
	float: right;
	height: 57px;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 5000;
	position: absolute;
}
object
{
	width: 100%;
	z-index: 10000;
}
footer
{
	background: #1A1818;
	margin: 0px auto 0px auto;
	text-align: center;
}
.contenido
{
	margin: 2.8em auto 0px auto;
	text-align: center;
	width: 70%;
}
.divi1
{
	margin-bottom: 40px;
	text-align: center;
	margin: 0px auto 0px auto;
	width: 100%;
}
.footersec
{
	display: inline-block;
	margin: 0px auto 0px auto;
	padding: 0.8em;
	vertical-align: top;
	width: 25%;
	
}
.footersec p
{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-align: left;
}
.footersec h2
{
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-align: left;
}
.footersec input[type=email]
{
	display: block;
	padding: 0.2em;
	width: 80%;
	margin-bottom: 0.8em;

}
.footersec input[type=submit]
{
	border:none;
	border-radius: 0.2em;
	float: left;
	padding: 0.5em;
}
.footersec img
{
	display: block;
	float: left;
	padding: 0.5em;
	width: 133px;
}
#copyright img
{
	width: 70px;
	padding-bottom: 0.5em;
}
#copyright
{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-shadow: 0.01em 0.08em #002c27;
}
#copyright p
{
	margin-top: 19px;
}
#copyright a
{
	color: #fff;
	text-decoration: none;
}
#fondo-imagen
{
	background: #333;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 614px;
	width: 100%;
}
#fondo-imagen img
{
	width: 100%;
}
#fondo-imagen #selecc
{
	margin: 340px 0px 0px 101px;
	position: absolute;
	z-index: 10000;
}
#fondo-imagen #selecc h2
{
	background: url(../images/backh2.png);
	padding: 0.2em;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.9) 1px 2px 2px;
}
#fondo-imagen #selecc select
{
	color: #333;
	border:none;
	font-size: 25px;
	margin-left: 2px;
	padding: 5px 35px 5px 15px;
}
#foot
{
	margin: 0px auto 0px auto;
	text-align: center;
	padding: 0.8em;
	width: 86%;
}
#ladoiz
{
	margin: 1em auto 0px auto;
	width: 30%;
}
#ladoiz #menu-izq ul
{
	text-align: left;
	margin-bottom: 1.5em;
}
#ladoiz #menu-izq ul li
{
	background: #ddd;
	border-bottom: 1px solid #B2AFAF;
	padding: 0.8em 0.8em 0.8em 0.8em;
	
}
#ladoiz #menu-izq ul li a
{
	color: #333;
	padding: 0.5em 0.5em 0.5em 0.5em;
	-webkit-transition:.4s;
}
#ladoiz #menu-izq ul li:hover
{
	background: #8B8B8B;
	border-left: 5px solid #D71E1E;
	color: #fff;
	-webkit-transition:.4s;
}
#ladoiz #menu-izq ul li a:hover
{
	color: #fff;
}
#ladoiz h2
{
	color: #676767;
	font-size: 28px;
	text-transform: uppercase;
	text-align: left;
}
#ladodere h2
{
	color: #676767;
	font-size: 28px;	
	text-align: left;
}
#ladodere .contenido-dere p
{
	color: #454545;
	text-align: justify;
	line-height: 25px;
}
#ladodere .contenido-dere
{
	padding: 0.8em 0.8em 0.8em 3.8em
}
#ladodere
{
	width: 60%;
}
#ladoiz, #ladodere
{
	display: inline-block;
	vertical-align: top;
}


@media screen and (max-width: 800px)
{
header #top-lado1
{
	width: 98%;
}
header #top-lado1 img	
{
	padding: 11px 5px 5px 25px;
}
header #top-lado2
{
	display: none;
}
.contenido
{
	width: 96%;
}
.footersec
{
	width: 98%;
}
#ladodere .contenido-dere
{
	margin: 0px auto 0px auto;
	padding: 0.8em;
	width: 94%;
}
#ladoiz
{
	padding-top:1.8em; 
}

#fondo-imagen
{
	height: 350px;
}
#fondo-imagen #selecc
{
	margin: 140px 0px 0px 32px;
	position: absolute;
	z-index: 10000;
}
#fondo-imagen #selecc h2
{
	color: #fff;
	font-size: 19px;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.9) 1px 2px 2px;
}
#fondo-imagen #selecc select
{
	color: #333;
	border:none;
	font-size: 25px;
	margin-left: 37px;
	padding: 5px 35px 5px 15px;
}
#ladoiz, #ladodere
{
	width: 95%;
}
#ladoiz
{
	display: block;
}
}
